{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-2 mb-5">
                <p><b>This website consumes a Random Word API from the links below</b></p> 
                <a href="http://46.101.13.65:8000/word">Random Word directly from API</a>
                <br>
                <a href="http://46.101.13.65:8000">Random Word API Home Page</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <div class="bg-secondary">
                            <p class="text-center mb-0"><b>Random word</b></p>
                        </div>
                        <div class="bg-white p-0 mt-2 mb-5">
                            <h2 class="text-center">{{api_result.word.title}}</h2>
                            <p>Meaning : {{api_result.meaning}}</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-secondary">
                            <p class="text-center"><b>API Tools</b></p>
                        </div>
                        <div class="bg-white p-0 mt-2 mb-5">
                            <a onclick="ajaxRandomWord()" type="button" class="btn btn-primary">Request via AJAX</a>
                            <p id="ajax-random-word"></p>
                        </div>
                        <div class="bg-white p-0 mt-2 mb-5">
                            <span>
                                <a onclick="wordByPK()" type="button" class="btn btn-primary">Get Word by PK</a>
                                <span>Select word PK --> </span>
                                <input type="number" id="specific-word-pk" name="specific-word-pk" min="1">
                            </span>
                            <p id="ajax-specific-word-pk"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="bg-secondary">
                    <p class="text-center mb-0"><b>Structure of API & Consumer</b></p>
                </div>
                <div class="mt-3">
                    <img src="{{ STATIC_URL }}images/layout.jpg" alt="layout of service" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        /* Request random word via ajax */
        function ajaxRandomWord() {
            $.ajax({
                type:"GET",
                url:"/random_word/",
                data:{ 
                },
                success: function(json_response){
                    $('#ajax-random-word').empty();
                    $('#ajax-random-word').text(JSON.stringify(json_response));
                },
            });
        };

        /* Request specific word via ajax */
        function wordByPK() {
            let pk = $("#specific-word-pk").val();
            $.ajax({
                type:"GET",
                url:"/word_by_pk/",
                data:{
                    'pk' : pk
                },
                success: function(json_response){
                    $('#ajax-specific-word-pk').empty();
                    $('#ajax-specific-word-pk').text(JSON.stringify(json_response));
                },
            })
        }
    </script>
{% endblock %}