{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!--- Website INFO & links --->
            <div class="col-12 mt-2 mb-5">
                <p><b>This website consumes a Random Word API from the links below</b></p> 
                <a href="http://46.101.13.65:8000/word">Random Word directly from API</a>
                <br>
                <a href="http://46.101.13.65:8000">Random Word API Home Page</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <!--- Automatically Retrieved Random Word --->
                    <div class="col-12 mb-4">
                        <div class="bg-secondary">
                            <p class="text-center mb-0"><b>Random word</b></p>
                        </div>
                        <div class="bg-white p-0 mt-2">
                            <h2 class="text-center">{{api_result.word.title}}</h2>
                            <p>Meaning : {{api_result.meaning}}</p>
                        </div>
                    </div>
                    <!--- API Tools --->
                    <div class="col-12 mb-4 api-tools">
                        <div class="bg-secondary">
                            <p class="text-center"><b>API Tools</b></p>
                        </div>
                        <!-- Random Word -->
                        <div class="bg-white p-0 mt-2 mb-2">
                            <a onclick="ajaxRandomWord()" type="button" class="btn btn-primary">Random word via AJAX</a>
                            <p id="ajax-random-word"></p>
                        </div>
                        <!-- Random Word by PK -->
                        <div class="bg-white p-0 mt-2 mb-3">
                            <span>
                                <a onclick="wordByPK()" type="button" class="btn btn-primary">Get Word by PK</a>
                                <span>Select word PK --> </span>
                                <input type="number" id="specific-word-pk" name="specific-word-pk" min="1">
                            </span>
                        </div>
                        <!-- Word Details -->
                        <div>
                            <form method="POST" action="{% url 'update_word' %}" class="form" enctype="multipart/form-data" id="word-details-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-10">
                                        <label for="word-text">Word:</label>
                                        <input type="text" class="w-100-percent capitalize" name="word-text" rows="1" id="word-text">
                                    </div>
                                    <div class="col-2">
                                        <label for="pk-text-area">PK:</label> <br>
                                        <input type="text" class="w-100-percent" name="pk-text" rows="1" id="pk-text" readonly>
                                    </div>
                                    <div class="col-12">
                                        <label for="word-meaning-text-area">Meaning:</label>
                                        <textarea name="word-meaning-text-area" class="w-100-percent" rows="10" id="word-meaning-text-area"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            <a onclick="updateWord()" type="button" class="btn btn-primary">Update This Word</a>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <!--- Structure of service image --->
                <div class="bg-secondary">
                    <p class="text-center mb-0"><b>Structure of Service & Consumer</b></p>
                </div>
                <div class="mt-3">
                    <img src="{{ STATIC_URL }}images/layout.jpg" alt="layout of service" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

    <!-- Info Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title-text">Alert</h5>
            </div>
            <div class="modal-body">
              <p id="modal-body-id"></p>
              <p id="modal-body-word"></p>
              <p id="modal-body-meaning"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        /* Request random word via ajax */
        function ajaxRandomWord() {
            $.ajax({
                type:"GET",
                url:"/random_word/",
                data:{ 
                },
                success: function(json_response){
                    updateWordDetails(json_response)
                },
            });
        };

        /* Request specific word via ajax */
        function wordByPK() {
            $.ajax({
                type:"GET",
                url:"/word_by_pk/",
                data:{
                    'pk' : $("#specific-word-pk").val()
                },
                success: function(json_response){
                    updateWordDetails(json_response)
                },
            })
        }

        /* Update word */
        function updateWord() {
            event.preventDefault();
            var myModal = new bootstrap.Modal(document.getElementById('myModal'), {keyboard: false})
            $.ajax({
                type:"POST",
                url:"/update_word/",
                data:{
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken').val(),
                    'pk' : $("#pk-text").val(),
                    'word' : $("#word-text").val(),
                    'meaning' : $("#word-meaning-text-area").val()
                },
                success: function(json_response){
                    data = json_response
                    console.log(data.id)
                    $('#modal-title-text').text('Word Successfully Updated');
                    $('#modal-body-id').text('ID : ' + json_response.id);
                    $('#modal-body-word').text('Word : ' + json_response.word);
                    $('#modal-body-meaning').text('Meaning : ' + json_response.meaning);
                    myModal.show();
                },
                error: function(){
                    $('#modal-title-text').text('ERROR');
                    $('#modal-body-id').text('An error occurred please try again later');
                    myModal.show();
                }
            })
        }

        /* Update word and meaning text-areas */
        function updateWordDetails(received_response){
            $('#pk-text').val(received_response.id);
            $('#word-text').val(received_response.word);
            $('#word-meaning-text-area').val(received_response.meaning);
        }
    </script>
{% endblock %}